<h1 class="display-3">Virtual School!</h1>
<p> You can learn ...This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
<p><a class="btn btn-primary btn-lg" href="/users/register" role="button">Sign up Free &raquo;</a></p>